<% content_for :other_js do|c|%>
<%end%>

<h3><%= "管理员 #{@user.nickname}"%></h3>
<div class="page_div">
  <h4>静态页面</h4>
  <%= link_to "新建", new_page_path, class:'btn btn-warning pull-right' %> 
  <table class='table' >
    <tr>
      <th>#</th>
      <th>title</th>
      <th>操作</th>
    </tr>

    <% @pages.each do|p|%>
      <tr>
        <td> <%= p.id %> </td>
        <td> <%= link_to "#{p.title}(#{p.subtitle})", page_path(p) %>  </td>
        <td> <%= link_to "编辑", edit_page_path(p) %>|<%= link_to '删除', page_path(p), method: :delete %>  </td>
      </tr>
    <%end%>
  </table>
</div>

