<% if comments.size > 0 %>
  <% comments.each_with_index do|c,i| %>
    <div class="comment_each" id="<%= "comment_#{c.id}"%>" floor="<%= i %>"> 
      <div class="head_div">
        <%= show_user_head c.user %>
      </div>

      <div class="comment_content">
        <div><%= c.user.nil? ? "#{c.user_name}(шо┐хов)" : link_to(c.user_name, name_path(c.user_name))%></div><br/>
        <%= c.content %><br />
        <div class="time pull-right"><%= jtime(c.created_at) %></div>
      </div>

      <div class="empty_height"></div>
      <div class="empty_height"></div>
      <div class="empty_height"></div>
    </div>
  <%end%>
<%end%>
