<% if comments.size > 0 %>
  <% comments.each_with_index do|c,i| %>
    <div class="comment_each" id="<%= "comment_#{c.id}"%>" floor="<%= i+1 %>"> 
      <div class="head_div">
        <%= show_user_head c.user, 80 %>
      </div>

      <div class="comment_content">
        <div class="comment_name"><%= c.user.nil? ? "#{c.user_name}(шо┐хов)" : link_to(c.user_name, name_path(c.user_name))%></div>
        <div class="comment_reply pull-right"><a href="javascript:void(0)" data-toggle='reply_comment' floor="<%= i+1 %>"><i class="icon-share-alt"></i></a></div>
        <div class="empty_height"></div>
        <div class='clear comment_current_content' ><%= markdown(c.content) %></div>
        <div class="time pull-right"><%= jtime(c.created_at) %></div>
      </div>

      <div class="empty_height"></div>
      <div class="empty_height border_bottom_grey margin_bottom"></div>
    </div>
  <%end%>
<%end%>
