<div id="comment_form">
  <%= simple_form_for comment, html: {"data-type" => 'json'}, wrapper: :default  do|f| %> 
    <%= f.input :article_id, as: :hidden, input_html: { value: article_id  }  %>
    <% if logined? %>

      <%= f.input :user_id, as: :hidden, input_html: { value: @user_id  } %>
      <div class="head_div">
        <%= show_user_head user,80 %>
      </div>
      <div id="comment_commit_div">
        <%= f.input :content , required: false, wrapper: false, label: false, input_html: {id: 'comment_textarea'} %>
        <button  class='btn btn-primary span2' id='comment_commit_button'>submit</button>
      </div>
    <%else%>

      <div class="head_div">
        <%= show_user_head %>
      </div>
      <div id="comment_commit_div">
        <%= f.input :content , :required => false, :wrapper => false, :label => false, :input_html => {:id => 'comment_textarea', :class => nil } %>
        <%= f.input :visitor_name, :wrapper => false, :placeholder=> '昵称(必填)', :label=>false, :input_html => {:id => 'visitor_name'}  %>
        <%= f.input :visitor_email, :wrapper => false, :label =>false, :placeholder=>'Email(必填)', :input_html => {:id => 'visitor_email'} %>
        <button  class='btn btn-primary span2' id='comment_commit_button'>submit</button>
      </div>
    <%end%>

  <%end%>
</div>
<div class="empty_height"></div>
<div class="empty_height border_bottom_grey margin_bottom"></div>
