<% content_for :other_js do %>
  <%= javascript_include_tag 'pic'%> 
  <script type="text/javascript">
    $(document).ready(function(){
      new PicController($(".drop_file"), $("#ul_for_pic"), "/pages", "100px", {title:'index_images'});
    });
  </script>
<%end%>

<div id="article_edit" style="margin-top:10px;">
    <h2><%= title %></h2> 
    <%= simple_form_for @article, wrapper: :default, html: {multipart: true, id: 'article_form' } do|f| %> 
      <%= f.input :catagory_id, collection: @catagories, label: false, as: :jcatagory, input_html: {id: "catagories_select"}, wrapper_html: {style: 'display:inline' } %> 
      <%= f.input :title, label: false, input_html: {}, wrapper_html: {style: 'display:inline' }%>
      </br>
      <ul class="unstyled" id="user_form_toolbar">
        <li><%= link_to "增加分类", "#add_catagory_modal", "data-toggle" => 'modal', "class"=>"little_fontsize" %> </li>
        <li><%= link_to "预览(beta)", 'javascript:void(0)', "data-toggle"=>'preview', id:'toggle_preview' %> </li>
        <li><a href="#draft" data-toggle="modal">查看草稿</a></li>
        <li><%= link_to "添加图片", "#upload_pic_modal", "data-toggle" => 'modal', "class"=>"little_fontsize" %> </li>
      </ul>
      <%= f.input :content, as: :text, label: false, input_html:{rows:0, cols:0}, wrapper_html:{id:'content_wrapper'}%>
      <%if demo?%>
        <%= f.button :submit, '发布', class: 'btn-primary span2', disabled: true %>
      <%else%>
        <%= f.button :submit, '发布', class: 'btn-primary span2'%>
      <%end%>
      <a href="#draft" data-toggle="save-draft" class="btn btn-primary" >保存草稿</a>
    <%end%>
</div>

<%= content_for :preview do %>
  <div id="preview_container">
    <div id="preview_toolbar" class="pull-right">
      <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          预览
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" data-toggle='html'>预览</a></li>
          <li><a href="javascript:void(0)" data-toggle='text'>HTML</a></li>
        </ul>
      </div>
    </div>

    <div id="preview_title"></div>

    <div id="preview_content"></div>
  </div>
<%end%>

<div class="modal" id="add_catagory_modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>增加分类</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for Catagory.new(), remote: true, html: {id: 'catagory_form', "data-type" => 'json', class: 'form-horizontal' }   do |f| %>
      <%= f.input :user_id, as: :hidden, input_html: {value: @user_id, autocomplete: 'off'}  %>
      <%= f.input :name, label: '分类名称', wrapper_html: {style: "float:left;margin-right:10px"}, input_html: {id: 'catagory_name_input' } %>
      <%= f.submit '确定', class: 'btn btn-primary'  %>
    <% end %>
  </div>
</div>



<div class="modal" id="draft">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3><span id="draft_username">草稿</span><span class="prompt">(点击条目显示草稿内容)</span></h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs" id="draft_tab">
      <li class="active"><a href="#manual_draft" data-toggle="tab">手动</a></li>
      <li><a href="#automatic_draft" data-toggle="tab">自动</a></li>
    </ul>
    <div class='tab-content' id="table_div">
      <div id="manual_draft" class='tab-pane active'></div>
      <div id="automatic_draft" class='tab-pane'></div>
    </div>
  </div>
</div>

<%= modal(id:"upload_pic_modal", header:"添加图片",prompt:'(可以选择多张图片)',button:nil) do %>
  <div class="drag_to">
    <span class="grey_font">把图片拖动到此处<br />或</span>
    <div class="drop_file btn_in_drag btn btn-primary">点击添加图片</div>
    <ul id="ul_for_pic" class="show_upload_pic unstyled"></ul>
  </div>
<%end%>
