<%= javascript_include_tag "share" %>
<div class="modal hide" id="ShareModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= title%></h3>
  </div>
  <div class="modal-body">
    <%= form_tag share_authentications_path do%>
      <% authentications.each do |a|%>
        <%= share_to_image a.provider%>
        <% if a.expires? %>
          <%= link_to "绑定已过期，点击关联", "/auth/#{a.provider}"%> 
        <%else%>
          <%= check_box_tag 'providers[]',a.provider, true%>
        <%end%>
      <%end%>
      <%= hidden_field_tag 'article', article.id %>
      <%= submit_tag "确定", :class => 'btn btn-primary pull-right'%>
    <%end%>
  </div>
</div>
