<div id="articles">
  <div id='create_button_div'>
    <%= (link_to "新建文章", new_article_path, :class => 'btn btn-primary') if owner?  %>
  </div>

  <% if @signup_new && owner? %>
    <%= render :partial => 'articles/signupnew' %> 
  <%else%>
    <% @articles.each do|a| %>
      <div class='article_each'>
        <h1><%= link_to a.title, article_path(a.id) %></h1>
        <%= markdown(a.preview) %>
        <%= (link_to '删除', article_path(a), :method => 'delete') if owner?%> 
        <%= (link_to '修改', edit_article_path(a)) if owner? %> 
      </div>
    <% end %>
  <%end%>
</div>

<div id="switch_sidebar_button">
  <a href="javascript:void(0)"><i class="icon-forward"></i></a>
</div>
