<% content_for :other_js do %>
  <%= javascript_include_tag 'blog/spine'%> 
  <%= javascript_include_tag "blog/comment" %>
<%end%>

<div id="articles">
  <div class="article_each">
    <h1 class="title_h"><%= @article.title %></h1>
    <div class="time">
      发表于:<%= jtime @article.created_at %> | 访问量:<%= @article.visit %> | 分类:<%= catagory_name(@article,@catagories) %>
    </div>
    <div id="article_show_content">
      <p><%= markdown(@article.content) %></p>
      <%= (image_tag @article.pictures[0].file.preview.url) if @article.pictures.size > 0  %>
      <div class="each_buttons">
        <%= (link_to '修改', edit_article_path(@article)) if owner? %> 
      </div>
    </div>
    <div class="empty_height"></div>
  </div>
</div>

<% unless new_or_edit? %>
  <div id="switch_sidebar_button">
    <a href="javascript:void(0)"><i class="icon-chevron-right"></i></a>
  </div>
<%end%>

<%= content_for :comment do%>
  <div class="empty_height"></div>
  <div id="comment" class="article_normal_width">
    <div id="comments">
    </div>
  </div>
<% end %>

<%= share_article(@article)%>

