<h1><%= @article.title %></h1>

<div id="content">
  <p><%= markdown(@article.content) %></p>
  <%= (link_to '编辑', edit_article_path(@article)) if owner? %> 
</div>

<div id="comments">
  <%= render :partial => 'comments/form', :locals => {comment:@comment, article_id:@article.id} %>
  <%= show_comments(@comments) %>
</div>

