<div id="articles">
  <h1 class="title_h"><%= @article.title %></h1>
  <div class="time">发表于:<%= jtime @article.created_at %> | 访问量:<%= @article.visit %> | 分类:<%= catagory_name(@article,@catagories) %></div>
  <div id="article_show_content">
    <p><%= markdown(@article.content) %></p>
    <%= (image_tag @article.pictures[0].file.preview.url) if @article.pictures.size > 0  %>
    <%= (link_to '编辑', edit_article_path(@article)) if owner? %> 
  </div>
</div>

<% unless new_or_edit? %>
  <div id="switch_sidebar_button">
    <a href="javascript:void(0)"><i class="icon-forward"></i></a>
  </div>
<%end%>

<%= content_for :comment do%>
  <div class="empty_height"></div>
  <div id="comment" class="article_normal_width">
    <div id="comments">
      <h1>评论</h1>
      <%= render partial: 'comments/form', locals: {user:@user,comment:@comment, article_id:@article.id} %>
      <%= render partial: 'comments/each', locals: {comments:@comments} %>
    </div>
  </div>
<% end %>

<%= share_article(@article)%>

