<% if action == 'edit' %> 
  <script type="text/javascript">
    $(document).ready(function(){
        var show_preview = function(event){
          event.stopPropagation();
          event.preventDefault();
          var file = event.originalEvent.target.files[0];
          var fr = new FileReader();
          fr.onload = function(e){
            console.log(e)
            $(".preview_show").html("<img src=\""+e.target.result+"\"/>");
            $(".preview_show").css("border", "1px solid rgba(0,0,0,0.1)");
          };
          fr.readAsDataURL(file);

        };
        $("#user_picture").on("change", show_preview);
        $("#toggle_password").on("click", function(){
          $("#eu_password").toggle("slow");
        });
    });
  </script>
  <%= simple_form_for @user, defaults: {input_html: {class: 'span3'}, required: false}, html: {class: 'form-horizontal'} do |f|%> 
    <div style="margin-left:174px" class="avatar_container">
      <div><%= show_user_head(@user) %></div>      
      <div class="preview_show"></div>
    </div>
    <div class="clear"></div>

    <%= f.simple_fields_for @user.setting do |setting|%>
      <%= setting.input :picture, label: false, as: :file %>
    <%end%>

    <%= f.input :nickname, label: '昵称', input_html: { maxlength: 20 } %>
    <%= f.input :email, placeholder: 'example@email.com', disabled: true %>

    <div class="control-group optional">
      <label for="toggle_password" class="control-label string optional">修改密码</label>
      <div class="controls"><input id="toggle_password" type="checkbox" /></div>
    </div> 
    <div id="eu_password" class="hide">
      <%= f.input :password, label: '旧密码', required: false %>
      <%= f.input :password_new, hint: false, error_html: { id: 'password_error' }, label: '新密码' %>
      <%= f.input :password_confirm, label: '新密码确认' %>
    </div>

    <%= f.simple_fields_for @user.setting do |setting|%>
      <%= setting.input :blog_name, label: '博客名称'  %>
    <%end%>
    <%= f.input :description, label: '个人描述', as: :text, input_html: {class: 'desc_textarea span3' }  %>
    <%= f.button :submit, '确定', class: 'btn btn-primary', id:"submit_edit_user" %>
  <%end%>

<% else%>

  <%= simple_form_for @user, url: {controller: 'users', action: 'create'}, defaults: {input_html:{class: 'span3' }, required: false }, html: { id: 'new_user_form', class: 'form-vertical' }  do |f|%> 
    <%= f.input :nickname, label: false, input_html: {autocomplete: 'off'}, placeholder:'昵称' %>
    <%= f.input :email, label:false,   placeholder: 'Email'  %>
    <%= f.input :password, label:false, placeholder:'密码', input_html: {value: user.password} %>
    <%= f.input :password_confirm, label:false, placeholder: '确认你的密码' %>
    <%if user.authentications.size > 0%>
      <%= f.input :authentications, as: :hidden, input_html: {value: user.authentications[0].id} %>
    <%end%>
    <%= f.button :submit, '创建我的帐号', class: 'btn-warning', style: 'width:41%' %>
  <%end%>
<% end %>


