<%= content_for :other_js do%>
  <%= javascript_include_tag "slides" %>
<%end%>
<div id="login">
  <div id="login_left">
    <% if @page %>
      <div id="slides" class="rslides_container">
        <ul class="rslides">
          <% @page.pictures.each_with_index do |picture, i|%>
            <li>
              <img src="<%= picture.file.url %>" />
              <p class='caption'>test <%= i%></p>
            </li>
          <%end%>
        </ul>
      </div>
    <%end%>
  </div>

  <div id="login_right">
    <%= simple_form_for @user, url: login_path, html: { id: 'login_form' }, wrapper: :default   do|f|%>
      <%= f.input :email, label: false, placeholder: '邮箱', input_html: { id: 'login_user_name' }   %> 
      <%= f.input :password, label: false, wrapper_html: {id:'input_password_div'}, placeholder: '密码', input_html: { id: 'login_user_password' }%> 
      <%= f.button :submit, "登录", class: 'btn-primary inline-block' %>

      <div class="btn-group inline-block" id="login_third_part" >
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" >
          第三方
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><a href="/auth/weibo"><%= share_to_image("weibo") %> 微博</a></li>
          <li><a href="/auth/douban"><%= share_to_image("douban") %> 豆瓣</a></li>
          <li><a href="/auth/twitter"><%= share_to_image("twitter") %> Twitter</a></li>
          <li><a href="/auth/facebook"><%= share_to_image("facebook") %> Facebook</a></li>
        </ul>
      </div>
    <%end%>

    <%= simple_form_for @user, url: {controller: 'users', action: 'new' }, defaults: { label: false, input_html: { autocomplete: 'off'}}, html: {id: 'signup_form'}, wrapper: :default do |f| %>
      <%= f.input :email, placeholder: '邮箱' %>
      <%= f.input :password, placeholder: '密码' %>
      <h3 id="new_user_h" class='grey_font' >新用户注册</h3>
      <%= f.button :submit, "注册", class: 'btn-warning', id: 'signup_submit'  %>
    <%end%>
  </div>
</div>



