<style>
  #foot_id {
    margin: 0 auto;
    width: 676px;
  }

  #foot_ul li {
    list-style: none;
    float: left;
  }
</style>

<div id="foot_id">
  <ul id="foot_ul">
    <li><%= link_to 'demo', url_for(:controller=>'articles',:action=>'demonew')%> </li>
    <li><%= link_to '简介', 'www.gu-da.com'%> </li>
    <li><%= link_to '源代码', 'www.gu-da.com'%> </li>
    <li><%= link_to 'a', 'www.gu-da.com'%> </li>
    <li><%= link_to 'b', 'www.gu-da.com'%> </li>
    <li><%= link_to 'markdown', 'http://daringfireball.net/projects/markdown/syntax'%> </li>
  </ul>
</div>
