<div class="navbar navbar-fixed-top" id="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to '咕哒', logo_link , class: 'brand' %> 

      <%= render partial: 'layouts/breadcrumbs'  %>

      <ul class="nav pull-right">
        <% unless @user_name.blank? %>
          <li id="notification_li"><%= get_notifications_count(@user_id) %></li>
          <% if logined? %>
            <li> <a href="<%= new_article_path() %>"><i class="icon-edit"></i></a> </li>
          <% end %>

            <% if @current_user && @current_user.id %>
              <li><%= ( link_to  raw("<i class='icon-rss'></i>"), user_articles_path(@current_user)+".atom", class: 'rss' ) %></li>
            <% end %>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= @user_name %> 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to '设置', edit_user_path(@user_id) %> </li>
            <li><%= link_to "关于", pages_path %></li>
            <li><%= link_to "退出", { controller:'blog', action:'logout' } %></li>
          </ul>
          </li>
        <% else %>
          <li><%= link_to '登录', blog_path %> </li>
          <li><%= link_to '注册', new_user_path %> </li>
        <%end%>
      </ul>
    </div>
  </div>
</div> 
