<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to '咕哒', logo_link , :class => 'brand' %> 

      <ul class="nav">
        <li><%= link_to '博客首页', blog_path %> </li>
      </ul>

      <ul class="nav pull-right">
        <% unless @user_name.blank? %>
          <li><%= get_notifications_count(@user_id) %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= @user_name %> 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to '设置', edit_user_path(@user_id) %> </li>
            <li><%= link_to "退出", { controller:'blog', action:'logout' } %></li>
          </ul>
          </li>
        <% else %>
          <li><%= link_to '登录', blog_path %> </li>
          <li><%= link_to '注册', new_user_path %> </li>
        <%end%>
      </ul>

      
    </div>
  </div>
</div> 
