<li <%= active_class(:users) %> > <%= link_to "个人资料", edit_user_path(user_id) %> </li>
<li <%= active_class(:notifications) %> > <%= link_to "消息管理", user_notifications_path(user_id)%></li>
<li <%= active_class(:authentications) %> > <%= link_to "社交授权", user_authentications_path(user_id)%></li>
<%if admin?%>
  <li <%= active_class(:admins) %> > <%= link_to "管理员", admins_path %></li>
<%end%>

