<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title_helper %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "user" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/nav' %> 

    <div id="flash"><%= flash_message %></div>

    <div class="container row" id="container">

      <div id="edit_user_div">
        <div id="edit_user_left">
          <ul class="nav nav-tabs nav-stacked">
            <li <%= active_class(:users) %> > <%= link_to "个人资料", edit_user_path(@user_id) %> </li>
            <li <%= active_class(:blog) %> > <%= link_to "博客管理", "#eu_blogmanage_div"%></li>
            <li <%= active_class(:notifications) %> > <%= link_to "消息管理", user_notifications_path(@user_id)%></li>
            <li <%= active_class(:authentications) %> > <%= link_to "社交授权", user_authentications_path(@user_id)%></li>
            <%if admin?%>
              <li <%= active_class(:admins) %> > <%= link_to "管理员", admins_path %></li>
            <%end%>
          </ul>
        </div>
        <div id="edit_user_right" class="tab-content">
          <%= yield %>
        </div>
      </div>

    </div>

    <%= render partial: 'layouts/foot' %>
    <br/ >
    <script>window.action="<%= params[:action]%>"</script>
  </body>
</html>
