<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || '咕哒网' %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "user" %>
    <%= javascript_include_tag "user" if params[:controller] == 'users'%>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div id="flash"><%= flash_message %></div>

    <%= render :partial => 'layouts/nav' %>
    <div class="container" id="container">
      <div id="jas">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
