<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || '咕哒网' %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "pnotify" %>
    <%= javascript_include_tag "user" if params[:controller] == 'users'%>
    <%= yield :other_js %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  </head>
  <body>


    <div id="flash"><%= flash_message %></div>

    <%= render partial: 'layouts/nav' %>
    <div class="container" id="container">
      <div id="jas">
        <%= yield %>
      </div>
    </div>
    <%= content_tag :div, id:'guda', data:{
      guda: {
        user_id:@user_id || 0, 
        article_id: @article.try(:id) || nil,
        action:params[:action], 
        controller:params[:controller], 
        controllers:[], 
        isLogined: logined?
      }
      } do %>
    <% end%>
  </body>
</html>
