<!DOCTYPE html>
<html>
  <head>
    <title>GuDa</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render :partial => 'layouts/nav' %>
    <div class="container" id="container">
      <div id="jas" nc="nc">
        <%= yield %>
      </div>
    </div>

  </body>
  <style>body{padding:40px;}</style>
</html>
