<!DOCTYPE html>
<html>
  <head>
    <title>GuDa</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "logout", { controller:'blog', action:'logout' } %>
          <%= link_to '首页', { controller:'blog', action:'index' } %> 
          <%= session[:user_name] || "未登录" %> 
          <%= %>
        </div>
      </div>
    </div> 

    <div class="container" style="background:black">
      <div id="jas" nc="nc">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
