<!DOCTYPE html>
<html>
  <head>
    <title>GuDa</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "article" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render :partial => 'layouts/nav' %> 

    <div class="container" id="container">
    <% unless params[:action] == 'new' || params[:action] == 'edit' %>
      <h1 style="color:white; margin-bottom: 20px;"><%= @blog_name %></h1>
    <% end %> 

      <div id="article" >
        <%= yield %>
      </div>

      <%= catagory_sidebar %>
      
    </div>

    <%= render :partial => 'layouts/foot' %>
  </body>
</html>
