<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title_helper %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "article" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render :partial => 'layouts/nav' %> 

    <div class="container row" id="container">

      <%= render :partial => 'layouts/breadcrumbs' %>

      <div id="article" <%= article_width_height %>>
        <%= yield %> 
      </div>


      <%= render :partial => 'articles/sidebar', :locals => {:user => @current_user } %>

      <%= yield :comment %>
    </div>

    <%= render :partial => 'layouts/foot' %>
    <br/ >
    <script>window.action="<%= params[:action]%>"</script>
  </body>
</html>
