<!DOCTYPE html>
<html>
  <head>
    <title>GuDa</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render :partial => 'layouts/nav' %> 

    <div class="container" style="padding:10px;background:black">
      <div id="article" >
        <%= yield %>
      </div>
    </div>

    <%= render :partial => 'layouts/foot' %>
  </body>
</html>
