<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title_helper %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "pnotify" %>
    <%= javascript_include_tag "article" %>
    <%= yield :other_js %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: 'layouts/nav' %> 

    <div id="flash"><%= flash_message %></div>

    <div class="container row container_trans" id="container">

      <div id="article" <%= raw article_width_height %>>
        <%= yield %> 
      </div>

      <div id="preview">
        <%= yield :preview %> 
      </div>
      <%= render partial: 'articles/sidebar', locals: {user: @current_user } %>

      <%= yield :comment %>
    </div>
    <% unless new_or_edit? %>
      <%= render partial: 'layouts/foot' %>
    <%end%>
    <br/ >
    <script type="text/javascript" charset="utf-8">
      window.action="<%= params[:action]%>"
      window.guda = {};
      guda.user_name = "<%= @user_name || 'DemoUser'%>";
      guda.user_id = <%= @user_id || 0 %>;
      guda.controllers=[]
    </script>
  </body>
</html>
