<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title_helper %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "pnotify" %>
    <%= javascript_include_tag "article" %>
    <%= yield :other_js %>
    <%= csrf_meta_tags %>
    <%= ( auto_discovery_link_tag :atom, user_articles_url(@current_user)+".atom" ) if @current_user && !@current_user.new_record?%>
    <%= render partial: "layouts/meta_favicon" %>
  </head>
  <body>

    <%= render partial: 'layouts/nav' %> 

    <div id="flash"><%= flash_message %></div>

    <div class="container container_trans" id="container">

      <div id="article" <%= raw article_width_height %>>
        <%= yield %> 
      </div>

      <div id="preview">
        <%= yield :preview %> 
      </div>
      <% if new_or_edit? %> 
        <div class="clear"></div>
      <% end %>
      <%= render partial: 'articles/sidebar', locals: {user: @current_user } %>

      <%= yield :comment %>
    </div>
    <% unless new_or_edit? %>
      <%= render partial: 'layouts/foot' %>
    <%end%>
    <br/ >
    <%= content_tag :div, id:'guda', data:{
        guda: {
          user_id:session[:user_id] || 0, 
          user_head: (@user && @user.head ? @user.head.file.url : nil),
          user_name:session[:user_name] || 'DemoUser', 
          article_id: @article.try(:id) || nil,
          action:params[:action], 
          controller:params[:controller], 
          controllers:[], 
          isLogined: logined?
        }
      } do %>
    <% end%>
  </body>
</html>
